#clock {
  position: relative;
  display: inline-block;
}

.hand {
  position: absolute;
  top: 0;
  right: 0;
}

#hour {
  transform: rotate(0deg);
}

#minute {
  transform: rotate(0deg);
}

#second {
  transform: rotate(0deg);
}
